[run]
source = custom_components/eufy_vacuum
omit =
    custom_components/eufy_vacuum/adapters/eufy/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:
    ^\s*\.\.\.\s*$
    @(typing\.)?overload
